@import 'config';

body {
    @include flex-centered;
    background: $secondary-color;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    &:not(:last-child){
        margin-bottom: 40vh;
    };
}

#title {
    -webkit-text-stroke-width: 0.04em;
    -webkit-text-stroke-color: black;
    color: $primary-color;
}

.fruit {
    width: 100px;
    height: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.card {
    @include flex-centered;
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.2em;
    &__front, &__back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: inherit;
        border-radius: inherit;
        box-shadow: -1px -1px -1px -1px rgba(0, 0, 0, 0.5);
    }
    &__back{
        background: inherit;
        transform: rotateY(180deg);
    }
}

.flipped {
    transform: rotateY(180deg);
}

#result {
    color: $primary-color;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 1.5em;
}

#restart-btn {
    padding: 1em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background: $primary-color;
    border-radius: 0.2em;
    cursor: pointer;
}